<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siliconlabs.bledemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".Application.SiliconLabsDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_EFR_Connect"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Advertiser.Activities.AdvertiserConfigActivity"
            android:label="@string/title_Advertiser" />
        <activity
            android:name=".Advertiser.Activities.AdvertiserActivity"
            android:label="@string/title_Advertiser" />
        <activity
            android:name=".Browser.Activities.MappingDictionaryActivity"
            android:label="@string/title_Mappings_dictionary" />

        <service android:name=".Bluetooth.BLE.BlueToothService" />
        <service android:name=".Advertiser.Services.AdvertiserService"/>

        <receiver android:name=".Bluetooth.BLE.BlueToothService$Receiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainMenu.Activities.MainMenuActivity"
            android:label="@string/app_name_EFR_Connect"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Bluetooth.Services.BluetoothLeService" />
        <service android:name=".Browser.Services.ShareLogServices" />

        <activity
            android:name=".Browser.Activities.BrowserActivity"
            android:label="@string/title_Browser"
            android:parentActivityName=".MainMenu.Activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Browser.Activities.DeviceServicesActivity"
            android:label="@string/title_Browser"
            android:parentActivityName=".Browser.Activities.BrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>