<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siliconlabs.bledemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- to enable release push -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".Application.SiliconLabsDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_EFR_Connect"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gatt_configurator.activities.GattConfiguratorActivity"
            android:label="@string/title_GATT_Configurator" />
        <activity
            android:name=".gatt_configurator.activities.GattServerActivity"
            android:label="@string/title_new_GATT_Server" />
        <activity
            android:name=".Advertiser.Activities.AdvertiserConfigActivity"
            android:label="@string/title_Advertiser" />
        <activity
            android:name=".Advertiser.Activities.AdvertiserActivity"
            android:label="@string/title_Advertiser" />
        <activity
            android:name=".Browser.Activities.MappingDictionaryActivity"
            android:label="@string/title_Mappings_dictionary" />
        <activity
            android:name=".HealthThermometer.Activities.HealthThermometerActivity"
            android:label="@string/title_Health_Thermometer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blinky.activities.BlinkyActivity"
            android:label="@string/title_Blinky"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectedLighting.Activities.ConnectedLightingActivity"
            android:label="@string/title_Connected_Lighting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RangeTest.Activities.RangeTestActivity"
            android:label="@string/title_Range_Test"
            android:screenOrientation="portrait" />

        <activity
            android:name=".throughput.activities.ThroughputActivity"
            android:label="@string/title_Throughput"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wifi_commissioning.activities.WifiCommissioningActivity"
            android:label="@string/wifi_commissioning_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".Bluetooth.Services.BluetoothService" />
        <service android:name=".Advertiser.Services.AdvertiserService" />

        <receiver android:name=".Bluetooth.Services.BluetoothService$Receiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainMenu.Activities.MainMenuActivity"
            android:label="@string/app_name_EFR_Connect"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Bluetooth.Services.BluetoothLeService" />
        <service android:name=".Browser.Services.ShareLogServices" />

        <activity
            android:name=".Browser.Activities.BrowserActivity"
            android:label="@string/title_Browser"
            android:parentActivityName=".MainMenu.Activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Browser.Activities.DeviceServicesActivity"
            android:label="@string/title_Browser"
            android:parentActivityName=".Browser.Activities.BrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".iop_test.activities.IOPTestActivity"
            android:label="@string/title_Interoperability_Test"
            android:parentActivityName=".iop_test.activities.IOPTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".motion.activities.MotionActivity"
            android:label="@string/motion_demo_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".environment.activities.EnvironmentActivity"
            android:label="@string/environment_demo_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".blinky_thunderboard.activities.BlinkyThunderboardActivity"
            android:label="@string/title_Blinky"
            android:screenOrientation="portrait" />

        <activity
            android:name=".rssi_graph.activities.RssiGraphActivity"
            android:label="@string/rssi_graph_label"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.siliconlabs.bledemo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
